<form>
	<div class="form-group">
		<label>Title</label>
		{{input type="text" class="form-control" value=title placeholder="Add Task..."}}
	</div>
	<div class="form-group">
		<label>Due Date</label>
		{{input type="date" class="form-control" value=date}}
	</div>
	<div class="form-group">
		<label>Description</label>
		{{textarea class="form-control" value=description placeholder="Describe Task..."}}
	</div>
	<button {{action 'addTask'}} class="btn btn-primary">Submit</button> 
</form>
